*{
    padding: 0px;
	margin: 0px;
        }
/* Убираем стрелки в input*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {

    -moz-appearance: textfield; /* Убираем стрелки в Firefox */

}
body{
    background-color: #ececec;
}
.main{

height: 1200px;

}        
h1, .navText,button,input {
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: bold;
font-style: normal;
}
.content{
       
    border: 1px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    min-height: 1200px;
    background-color: white;
}
header{
    background-color:#0f2c71;
    /* border: 1px solid black; */
    width: 100%;
    height: 50px;
    display: flex;
     align-items: center;
}
header img{
    margin-left: 6%;
    width: 90px;
}
header span{
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: bold;
font-style: normal;
font-size: 20px;
color: white;
padding-left: 60px;
}
header a{text-decoration: none;}
.sidebar{
    background-color: #0b152d;
    position: absolute;
    padding-left: 5px;
    width: 50px;
    height: 100%;
    transition: 0.5s ease-in-out;
    padding-top: 40px;
}
.sidebar a{
    display: flex;/*   Используем Flexbox для ссылки */

    align-items: center; /* Выравниваем по центру по вертикали */

    text-decoration: none; /* Убираем подчеркивание у ссылок */

    }
          li{
           
           
            list-style-type: none;

          
       
        }
    .sidebar:hover{
         width: 200px;
    }
    .sidebar li a{
        height: 60px;
    }
    .sidebar li a:hover{
      
        background-color: #12234b;
    }
    .main{position: relative;}
    .navText{
        padding-left: 25px;
        
        overflow: hidden;
        color: white;
    }
    .navImg{
        width: 40px;
        height: 40px;
    }
      button,input{
        cursor: pointer;
        color: white;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        background: #2354A6;
       
    }
    h1{
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
    button a{
        color: white;
    }
    button:hover{
        background: #09337c;
    }
    input:hover{
        
         background: #09337c;
    }
    form{
        width: 100%;
    }
    .field {
        height: 30px;
        width: 400px;
        border-radius: 3px;
    }
    label{
        
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight:normal;
        font-style: normal;
    }
    
    .getQR{
        text-align: center;
    }
    .formContent{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        width: 600px;
    }
    .street{
        width: 100%;
        height: 30px;
        padding-left: 20px;
    }
    .street{
        border-radius: 2px;
    }
    .num{
        text-align: center;
        width: 100px;
        height: 30px;
        border-radius: 2px;
    }
    .qrcode{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* background-color: gray; */
        margin-top: 50px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
    }
    .qrcode img{

    }
    .updateKey{
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    .updateKey a button{
        font-size: 16px;
        width:180px;
        height: 80px;
       
    }
    .Key input{
        font-size: 16px;
        width:180px;
        height: 80px;
    }
    .Key{
        text-align: center;
    }
  